/* font family: [inter] */

@import url(https://fonts.google.com/specimen/Inter);


/* Family: [Lexend Deca] */

@import url(https://fonts.google.com/specimen/Lexend+Deca);


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  font-weight: 400;
}

.img {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  display: block;
  background-image: linear-gradient(0deg, rgba(146, 46, 209,.5), rgba(146, 46, 209,.5)), url('/image-header-mobile.jpg');

  overflow: hidden;
  width: 320px;
  height: 220px;
  background-size: cover;
}

main {
  margin-top: -4px;
  width: 320px;
  height: 520px;
  background-color: hsl(244, 38%, 16%);
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
}

h1 {
  padding: 30px 35px 18px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: 'inter';
  font-size: 28px;
  font-weight: 700;
}

span {
  color: hsl(277, 64%, 61%);
}

p {
  padding: 0 35px 30px;
  color: hsla(0, 0%, 100%, 0.75);
  text-align: center;
  line-height: 1.6;
  font-family: 'Lexend Deca';
}

.stats {
  text-align: center;
}

.stat {
  padding-bottom: 25px;
}

num {
  color: hsl(0, 0%, 100%);
  font-family: 'inter';
  font-size: 28px;
  font-weight: 700;
}

.stat-heading {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  margin-top: 8px;
  font-family: 'Lexend Deca';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 370px) {
  body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .stats {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin: 0px 30px 0 5px;
  }
  
  num {
  font-size: 20px;
}

  main {
    text-align: left;
    width: 450px;
    height: 358px;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    position: relative;
    top: 2px;
  }

  .img {
    display: none;
  }

  .img2 {
    display: block;
    height: 358px;
    width: 420px;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(146, 46, 209, 0.5), rgba(146, 46, 209, 0.5)), url('images/image-header-desktop.jpg');
    background-size: cover;
  }

  h1 {
    font-size: 32px;
    text-align: left;
    margin: 30px 0 0 25px;
    padding-right: 70px;
  }

  p {
    text-align: left;
    margin-left: 25px;
    padding-right: 30px;
  }


}
